/* Base styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Arial", sans-serif;
	background: #0a0c0d;
	color: #d4d4d4;
}

.loading-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #030a1b;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: opacity 1s 2s ease-out;
}

.loading-animation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-dot {
	width: 20px;
	height: 20px;
	background-color: #00cc8f;
	border-radius: 50%;
	margin: 0 10px;
	animation: bounce 1s 1s ease-in-out;
}

.loading-dot:nth-child(2) {
	animation-delay: 0.33s;
}

.loading-dot:nth-child(3) {
	animation-delay: 0.66s;
}

@keyframes bounce {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}
}

.header {
	background: #0a192f;
	padding: 5px 0;
	position: top;
	top: 0;
	z-index: 100;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	flex-grow: 5;
}

.header-name {
	font-family: "Roboto Mono", monospace;
	display: flex;
	align-items: center;
	position: left;
}

.header-firstname {
	margin-right: 10px;
}

.header-lastname {
	font-family: "Roboto Mono", monospace;
	padding-right: 500px;
}

.header-navigation ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-navigation li {
	margin-left: 50px;
}

.header-link {
	font-family: "Roboto Mono", monospace;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: color 0.3s;
}

.header-number {
	margin-right: 5px;
}

.header-text {
	font-family: "Roboto Mono", monospace;
}

.header-link:hover .header-number,
.header-link:hover .header-text {
	color: #00cc8f;
}

.home-section {
	background: #030a1b;
	color: #d4d4d4;
	padding: 100px 0;
}

.home-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-info {
	width: 50%;
}

.home-image {
	width: 40%;
	text-align: right;
}

.home-image img {
	max-width: 100%;
	height: auto;
}

.home-image-border {
	max-width: 100%;
	height: auto;
	border: 8px solid #00cc8f;
	border-radius: 8px;
}

.home-title {
	font-family: "Roboto Mono", monospace;
	margin-bottom: 20px;
}

.home-name {
	font-family: "Roboto Mono", monospace;
	margin-bottom: 20px;
}

.home-description {
	font-family: "Roboto Mono", monospace;
	margin-bottom: 30px;
}

.home-resume-btn {
	display: inline-block;
	background-color: #00cc8f;
	color: #fff;
	padding: 12px 24px;
	border-radius: 4px;
	font-family: "Roboto Mono", monospace;
	text-decoration: none;
	transition: background-color 0.3s;
}

.home-resume-btn:hover {
	background-color: #00b584;
}

.home-resume-btn i {
	margin-left: 10px;
}

.about-section {
	background: #030a1b;
	color: #f1f2f3;
	padding: 50px 0;
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 50px;
}

.about-image {
	width: 40%;
}

.about-image-border {
	max-width: 100%;
	height: auto;
	border: 8px solid #00cc8f;
	border-radius: 8px;
}

.about-description {
	width: 55%;
}

.about-description p {
	margin-bottom: 20px;
}

.about-title {
	font-family: "Roboto Mono", monospace;
	margin-bottom: 10px;
	font-size: 24px;
}

.resume-section {
	background: #030a1b;
	color: #d4d4d4;
	padding: 50px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.resume-columns {
	display: flex;
	justify-content: space-between;
}

.resume-column {
	width: 48%;
}

.resume-summary,
.resume-education,
.resume-skills,
.resume-professional {
	background: #0a192f;
	margin: 40px;
	padding: 20px;
	position: relative;
	border-radius: 8px;
}

h2 {
	font-family: "Roboto Mono", monospace;
	color: #00cc8f;
	margin-bottom: 20px;
	font-size: 32px;
}

h2 i {
	margin-right: 10px;
	margin-bottom: 30px;
}

.resume-item {
	margin-bottom: 30px;
	margin-top: 30px;
}

.resume-item h3 {
	color: #00cc8f;
	font-size: 24px;
	font-weight: bold;
}

.resume-gpa h4 {
	color: #00cc8f;
	font-size: 16px;
	font-weight: bold;
	line-height: 1pt;
}

.resume-item p {
	margin: 20px;
	line-height: 1.3;
	font-size: 16px;
}

.resume-item .year {
	color: #9aa0b1;
	font-weight: bold;
}

.resume-item .achievement {
	color: #00cc8f;
	font-weight: bold;
}

.projects-section {
	background: #030a1b;
	/* Adjust to your color scheme */
	color: #f1f2f3;
	/* Adjust to your color scheme */
	padding: 50px 0;
}

.contact-section {
	background: #0a192f;
	/* Adjust to your color scheme */
	color: #f1f2f3;
	/* Adjust to your color scheme */
	padding: 50px 0;
}

.container {
	max-width: 1280px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-container {
	display: flex;
	margin-top: 50px;
	margin-bottom: 300px;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.project-item {
	width: 30%;
	background: #0a192f;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}

.project-github-link {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #00cc8f;
	font-size: 24px;
	transition: color 0.3s;
}

.project-github-link:hover {
	color: #29a37f;
}

.project-item img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.project-item h3 {
	font-family: "Roboto Mono", monospace;
	color: #00cc8f;
	text-align: center;
	/* Adjust to your color scheme */
	margin: 20px;
	font-size: 15pt;
}

.project-item p {
	text-align: center;
	margin: 20px;
	font-size: 12pt;
}

.contact-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 20px;
}

.contact-item {
	width: 150px;
	margin: 20px;
	text-align: center;
}

.contact-item a {
	color: #00cc8f;
	/* Adjust to your color scheme */
	font-size: 24px;
	transition: color 0.3s;
}

.contact-item a:hover {
	color: #29a37f;
	/* Adjust to your color scheme */
}

.contact-item span {
	display: block;
	font-family: "Roboto Mono", monospace;
}

@media screen and (max-width: 767px) {
	.header-content {
		flex-direction: column;
		align-items: flex-start;
	}

	.header-navigation ul {
		flex-direction: column;
		margin-top: 20px;
	}

	.header-navigation li {
		margin-left: 0;
		margin-bottom: 10px;
	}

	.header {
		padding: 10px;
	}

	.header-logo {
		flex-grow: 1;
	}

	.header-name {
		font-size: 24px;
	}

	.header-firstname,
	.header-lastname {
		font-size: 24px;
	}

	.header-navigation ul {
		padding: 0;
	}

	.header-link {
		font-size: 16px;
	}

	.header-number {
		font-size: 16px;
	}

	.header-text {
		font-size: 16px;
	}

	.home-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.home-info,
	.home-image {
		width: 100%;
	}

	.home-image {
		margin-top: 30px;
	}

	.about-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.about-image,
	.about-description {
		width: 100%;
	}

	.about-image {
		margin-bottom: 30px;
	}

	.resume-columns {
		flex-direction: column;
	}

	.resume-column {
		width: 100%;
	}

	.project-container {
		flex-direction: column;
		align-items: center;
	}

	.project-item {
		width: 80%;
		margin-bottom: 30px;
	}
}